:root {
    --bg-color-dark: #141414;
}
/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-dark);
    font-family: Arial, sans-serif;
    color: white;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Header */
header {
    background-color: none;
    background: rgba(0, 0, 0, 0.365);
    position: sticky;
    top: 0;
    height: auto;
    z-index: 1;
    width: 100%;
    transition: background-color 0.3s ease;
    padding-left: 2%;
    margin-bottom: 10px;
}
header.active {
    background: rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    height: auto;
    z-index: 1;
    width: 100%;
    transition: background-color 0.3s ease;
}

nav {
    display: flex;
    background-color: none;
    background: transparent;
     align-items: center;
    padding: 10px 0px 10px 2%;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

nav a {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    color: #e50914;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;    
    position: relative;
    z-index: 999;
}
nav ul {
    display: none;
}
nav ul li:hover {
    cursor: pointer;
    color:#e5e5e5;
}
.contenedor-img-profile-icon {
    cursor: pointer;
}
/* Menu hover img perfil */
.menu-desplegable {
    display: none;
    position: absolute;
    width: 140%;
    top: 110%;
    right: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.493);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.839);
    margin-top: 20px;
}

.menu-desplegable ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0px;
    padding-left: 10px;
}

.menu-desplegable ul:nth-child(2) {
 border-top: 1px solid grey;
 padding: 10px;
}

.menu-desplegable li {
    color: rgb(233, 233, 233);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.menu-desplegable.open {
    display: block;
}
.contenedor-img-profile-icon:hover .menu-desplegable {
    display: block;
}
/* --------- */

dl, ol, ul { 
    margin:0;
}

nav a:hover {
    cursor: pointer;
}
/* Boton hamburguesa */
.btn-hamb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    background: transparent;
    gap: .30rem;
    margin-right: 10px;
}
.btn-hamb > div {
    background: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}
.btn-hamb.active > div:first-child {
    transform: rotate(30deg);
}
.btn-hamb.active > div:nth-child(2) {
    opacity: 0;
}
.btn-hamb.active > div:last-child {
    transform: rotate(-30deg);
}

/* --------- */
/* Menu mobile */

.mobile-menu {
    display: none;
    background: #000;
    position: absolute;
    top: 50px;
    width: 50%;
    z-index: 1;
    transition: left 0.3s ease-in;
    border-left: 3px solid #000;
    font-weight: 700;
    line-height: 2;
    left:0px;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 50px;
}

.full-page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    padding-top: 0.4rem;
}

.mobile-menu ul:first-child {
    border-bottom: solid 0.5px grey;
}

.mobile-menu ul li {
    padding-left: 8%;
    color: grey;
    text-align: left;
}

.mobile-menu ul li.active {
    color: white;
    border-left: 3px solid #b9090b;
}

.menu-open {
   display: block;
   transition: left 2.3s ease-in;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.perfil-mobile {
    display: flex;
    gap:10px
}

.perfil-mobile h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.perfil-mobile h6 {
    font-size: 0.6rem;
    font-weight: bold;
}


/*----------  */
/* Parte derecha del nav */
.right-nav {
    display: flex;
    position: absolute;
    right: 5rem;
    gap: 20px;
    align-items: center;
}

.right-nav .notificaciones, .right-nav .contenedor-img-profile-icon {
    display: none;
}

.profile-icon-button {
    display: inline-block;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 2px;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
    width: 0;
}
/* al hacer hover en el perfil, la flecha rota 180 y queda hacia arriba */
.contenedor-img-profile-icon:hover .profile-icon-button {
    transform: rotate(180deg);
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#search-icon {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
}
#search-icon svg {
    color: white;
}

#search-icon.expandir {
    transform: scale(1.1); /* Cambia el tamaño del icono */
    display: flex;
    width: 100px;
    border:solid 1px white;
    color: white;
    background-color: rgb(35, 35, 35);
}

#search-input {
    display: none;
    border: 1px solid #ccc;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    width: 120px;
    transition: all 0.3s ease;
}

#search-input.active {
    width: 180px;
}





/* Hero section */
.hero {
    display: none;
  }
  
  .hero img {
    display: none;
  }
  .titulo-img {
    display: none;
}
.titulo-img img {
display: none;
  }
  .titulo-img p {
   display: none;
  }
  .contenedor-btn-hero {
    display: none;
  }
  .contenedor-btn-hero button div {
    display: none;
  }
  .reproducir, .mas-info {
   display: none;
  }

  /* secciones  */
  .contenedor-titulo-seccion {
    padding-left: 5%;
    margin-bottom: 3px; 
    position: relative;
}
.contenedor-titulo-seccion h1 {
    font-size: 1.2em;
    font-weight: 700;
    margin:0;
    color: #d5d5d5;
  }
  .titulo-seccion {
    opacity: 0;
  }




/* Top 10 */
/* Carousel container */
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    border: none;
}
.slick-prev,
.slick-next {
    background: none; /* Quitar fondo */
    border: none; /* Quitar borde */
    outline: none; /* Quitar contorno (outline) */
    box-shadow: none; /* Quitar sombra */
}
.slick-prev{
    z-index: 1;
    left: 30px;
    position: absolute;
    margin: auto;
}
.slick-next {
    right: 10px;
}
.slick-initialized .slick-slide {
    display: flex;
}
.slider {
    display: flex;
    width: 100%;
    margin: auto;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}
.slick-list {
    height:max-content;
}

.cont-car {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}  
.icon-container {
    display: flex;
}

.icon-container img {
    filter: drop-shadow(3px 3px 5px rgba(86, 86, 86, 0.782));
}

.image-container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.sliderSinNumero {
    width: 100%;
    margin: auto;
    padding-left: 4%;
    margin-bottom: 25px;
}
.sliderSinNumero .cont-car {
    margin: 5px;
}

/* Footer */
footer {
    color: grey;
    background-color: var(--bg-color-dark);
    text-align: center;
    margin-top: 3rem;
    width: 95%;
    margin: auto;
}
.footer-icons {
    display: flex;
    gap: 25px;
    font-size: 1.6rem;
    margin-left: 20px;
}
.footer-icons a {
    color: white;
}
.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-list li {
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 11px;
    margin: 5px;
    cursor: pointer;
}
.cont-copy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 12px;
}
.cont-copy a {
    text-decoration: none;
    color: white;
}
.footer__copy {
    display: flex;
    margin-left: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
footer span {
    color: rgb(224, 50, 50);
}
.punto__logo {
    font-size:20px;
  }

@media only screen and (min-width: 500px) and (max-width:899px) {
    #header {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 900px) {
    .slider {
        padding-left: 50px;
    }

    /* Header */
header {
    margin-bottom: 0;
    background-color: none;
    background: transparent;
    position: sticky;
    top: 0;
    height: auto;
    z-index: 1;
    width: 100%;
    transition: background-color 0.3s ease;
}
header.active {
    background-color: rgb(20, 20, 20);
    height: 68px;
    transition: background-color 0.3s ease;
}

nav {
    display: flex;
    background-color: transparent;
    align-items: center;
    position: absolute;
    padding: 15px 0px 15px 4%;
    width: 100%;
    margin-left: -40px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

nav a {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    color: #e50914;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;    
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 00;
}
nav ul li:hover {
    cursor: pointer;
    color:#e5e5e5;
}
.contenedor-img-profile-icon {
    cursor: pointer;
}
dl, ol, ul { 
    margin:0;
}

nav a:hover {
    cursor: pointer;
}
.nav__toggle {
    display: none;
}

/* Parte derecha del nav */
.right-nav {
    display: flex;
    position: absolute;
    right: 5rem;
    gap: 20px;
    align-items: center;
}

.right-nav div button {
    background: none;
    border: none;
    color: white;
}
.right-nav .notificaciones, .right-nav .contenedor-img-profile-icon {
    display: flex;
}
.contenedor-img-profile-icon {
    align-items: center;
    gap: 10px;
}

.profile-icon-button {
    display: inline-block;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 2px;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
    width: 0;
}
/* al hacer hover en el perfil, la flecha rota 180 y queda hacia arriba */
.contenedor-img-profile-icon:hover .profile-icon-button {
    transform: rotate(180deg);
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#search-icon {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
}

#search-icon.expandir {
    transform: scale(1.1); /* Cambia el tamaño del icono */
    display: flex;
    width: 100px;
    border:solid 1px white;
    color: white;
    background-color: rgb(35, 35, 35);
}

#search-input {
    display: none;
    border: 1px solid #ccc;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    width: 120px;
    transition: all 0.3s ease;
}

#search-input.active {
    width: 180px;
}





/* Hero section */
.hero {
    display: flex;
    width: 100%;
    height: 85vh;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .hero-content {
    display: flex;
    width: 100%;
  }
  
  .hero img {
    display: flex;
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    object-position: center; 
    position: relative;
  }
  .titulo-img {
    display: flex;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 4%;
    position: absolute;
    top: 0;
    width: 36%;
}
.titulo-img img {
    display: flex;
    width: 100%;
    height: 100%; 
    object-fit: contain;
    margin-bottom: 2vw;
  }
  .titulo-img p {
    display: flex;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.1vw;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
  }
  .contenedor-btn-hero {
    display: flex;
    gap: 20px;
    margin-top: 1rem;
  }
  .contenedor-btn-hero button div {
    display: flex;
    gap: 10px;
  }
  .reproducir, .mas-info {
    /* padding-left: 2rem;
    padding-right: 2.4rem; */
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* secciones  */
  .contenedor-titulo-seccion {
    padding-left: 4%;
    margin-bottom: 10px;
    position: relative;
    z-index: 1; 
}
.sin .contenedor-titulo-seccion h1 {
    display: table-cell;
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 1.25vw;
    vertical-align: bottom;
    z-index: 2;
    color: white;
  }




/* Top 10 */
/* Carousel container */


.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    border: none;
}
.slick-prev,
.slick-next {
    background: none; /* Quitar fondo */
    border: none; /* Quitar borde */
    outline: none; /* Quitar contorno (outline) */
    box-shadow: none; /* Quitar sombra */
}
.slick-prev{
    z-index: 1;
    left: 30px;
    position: absolute;
    margin: auto;
}
.slick-next {
    right: 10px;
}
.slick-initialized .slick-slide {
    display: flex;
}
.slider {
    display: flex;
    width: 100%;
    padding-left: 50px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
}
.slick-list {
    height:max-content;
}

.cont-car {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    height: 250px;
}  
.icon-container {
display: flex;
}
.image-container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
width: 100%;
height: 100%;
object-fit:fill;
}
.slider .image-container img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    }

.sliderSinNumero {
    width: 100%;
    margin: auto;
    padding-left: 4%;
    margin-bottom: 30px;
}
.sliderSinNumero .cont-car {
    margin: 5px;
}
    
/* ------------------- */
/* Featured section */
.featured {
    /* Placeholder styling for featured content */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.featured-item img {
    width: 100%;
    border-radius: 5px;
}

/* Genre section */
.genre {
    /* Placeholder styling for genre-specific content */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.genre-item {
    width: calc(20% - 20px);
    margin-bottom: 20px;
}

.genre-item img {
    width: 100%;
    border-radius: 5px;
}


/* Carousel container */
.carousel-container {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Number on the left */
.carousel-number {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Content on the right */
.carousel-content {
    flex: 3;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Movie card */
.movie-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-card h2 {
    font-size: 20px;
    margin-top: 10px;
}

.movie-card p {
    font-size: 14px;
    margin-top: 5px;
}

footer {
    width: 50%;
}
.footer-list li {
    flex-basis: calc(30% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 13px;
}

}
@media only screen and (min-width: 1200px) {
     .cont-car {
        margin-right: 30px;
    }   
    .icon-container {
        position: relative;
        left: 7px;
    } 
    .slick-list {
        max-width: 100%;
        overflow: hidden;
      }
      
    
}

  
  
  

/* ------------------- */
/* Featured section */
.featured {
    /* Placeholder styling for featured content */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.featured-item img {
    width: 100%;
    border-radius: 5px;
}

/* Genre section */
.genre {
    /* Placeholder styling for genre-specific content */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.genre-item {
    width: calc(20% - 20px);
    margin-bottom: 20px;
}

.genre-item img {
    width: 100%;
    border-radius: 5px;
}


/* Carousel container */
.carousel-container {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Number on the left */
.carousel-number {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Content on the right */
.carousel-content {
    flex: 3;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Movie card */
.movie-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-card h2 {
    font-size: 20px;
    margin-top: 10px;
}

.movie-card p {
    font-size: 14px;
    margin-top: 5px;
}

